<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="../static/main.css" rel="stylesheet">
    <meta charset="UTF-8">
    <script src="/static/js/google_analytics.js"></script>
    <title>ego search helper for (β)uzz</title>
</head>
<body>
    <div>
        <form action="{{url_for('result')}}" method="post">
            <h1>ego search helper for (β)uzz</h1>
            <p>反響を調べたいバズった記事の本文を貼り付けてください。</p>
            <textarea class="input-form" name="target_text" maxlength="10000" placeholder="解析したい文章を貼り付けてください。"></textarea>

            <p>検索の厳しさ：<input type="range" name="ud_rate" value="70" min="50" max="100" step="1" oninput="document.getElementById('output1').value=this.value">
                <output id="output1">70</output>%<br>
                <font size="2">*解析元の文章とどのくらい一致しているべきかを指定できます。</font></p>

            <p><input type="submit" id="search" value="解析"></p>
         </form>
    </div>
    <div class="caution-text">
        <ul class="caution-content-li">
            <li>バズの規模が大きい記事の方が効果的な結果が得られます。</li>
            <li>検索結果には近一週間以内のツイートが表示されます。</li>
            <li>検索対象は1000字程度で、それ以降の文章は無視されます。</li>
            <li>大量の検索をかけると上限に達することがあります。</li>
        </ul>
    </div>

    <script type="text/javascript">
    console.log(~10)
    </script>
</body>
</html>