<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="../static/main.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>ego search helper(β)</title>

</head>
<body>
    <div class="title">
         <div class="title-image">
            <img src="{{ url_for('static', filename = 'pyonpyokoCMYK.jpg') }}" width="150px">
            <!--<img src="{{url_for('static', filename='pyonpyokoCMYK')}}"-->
                 <!--width="150px" height="150px">-->
         </div>
         <div class="title-text">
            <h1>ego search helper <br>for (β)uzz</h1>
         </div>
    </div>

    <div class="content-text">
        <p>ego search helper for Buzzは、オンラインで記事がバズった時のための反響収集支援ツールです。
            記事に対するコアな反響を収集することで、執筆者のエゴサーチライフの充実をお手伝いします。
            このツールは、バズが起きた記事の本文を入力することによって、記事から語彙リストを作成しtwitterで検索をかけます。
            （詳しい紹介：<a href="{{url_for('detail')}}">ego search helper とは？</a>）</p>

        <p>現在の検索メソッドは非常にシンプルで、改善が必要です。
            ぜひご自身の記事や、最近話題の記事で試していただき、改善のための意見をください！</p>
    </div>


    <div class="page-button">
        <form action="{{url_for('oauth')}}" method="get">
            <p></p>
            <p><input type="submit" id="oauth" value="試してみる!"></p>
         </form>
    </div>
    <div class="caution-text">
        <p>***仕様に関する注意***</p>
        <ul class="caution-content-li">
            <li>Twitterアカウントを使ったアプリ認証が必要です。</li>
            <li>検索結果には近一週間以内のツイートが表示されます。</li>
            <li>検索対象は1000字程度で、それ以降の文章は無視されます。</li>
            <li>大量の検索をかけると上限に達することがあります。15分後に再度お越しください。</li>
        </ul>
    </div>

</body>
</html>